*{
  padding: 1.2px;
}

iframe{
  border-radius:10px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.search-container {
  
  display: flex;
  align-items: center;
  width: 668px;
  margin: 0 27.8%; /* Center the container */
  padding-bottom: 10px;
  
}

.search-input {
  flex: 1;
  padding: 20px;
  height: 25px;
  border: 1px solid #ccc;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;  
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.search-button {
  border: 1px solid #ccc;
  color: hsl(0, 0%, 6.7%);
  background-color: #f5f4f4;
  padding: 6.5px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.search-button:hover{
  border-color: #c6c6c6;
    background-color: #f0f0f0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.1);

}

.keyboard-voice{
  margin-left:20px;
 border-radius: 50%;
 width: 40px;
 height: 40px;
 background-color: #f5f4f4; 
 display: flex;
 justify-content: center;
 align-items: center;
}
.keyboard-voice:hover{
  border-color: #c6c6c6;
    background-color: #f0f0f0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.1);

}

/* Sidebar.css */
.sidebar {
  position: fixed;
  top: 0;
  left: -160px;
  width: 230px;
  height: 100%;
  background-color: white;
  overflow-y:auto;
  border-right: 1px black solid;
  transition: left 0.3s ease;
}

.sidebar.open {
  left: 0;
}

/* .close-button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
} */

.main-content {
  margin-left: 5%;
  transition: margin-left 0.3s ease;
}

.main-content.pushed {
  margin-left: 250px;
}

.toggle-button {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 999;
  border: none !important;
}
#sidebar{  
  width: 20px;
  background-color: rgb(39, 39, 39);
  margin: 3px 1px;
}
#videoCaption{
  white-space: nowrap;
  width: 320px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  /* Set a maximum width to prevent the title from pushing other content */
}
.sidebar-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 60px;
  left: 177px;
}
.sidebar-content span{
  margin-bottom: 20px;
}
