*{
  padding: 1px;
}
#mainHeader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 10px;
  z-index: 100;
}
iframe{
  border-radius:10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.search-container {
  
  display: flex;
  align-items: center;
  width: 668px;
  margin: 0 27.8%; /* Center the container */
  padding-bottom: 10px;
  
}

.search-input {
  flex: 1;
  padding: 20px;
  height: 25px;
  border: 1px solid #ccc;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;  
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.search-button {
  border: 1px solid #ccc;
  color: hsl(0, 0%, 6.7%);
  background-color: #f5f4f4;
  padding: 6.5px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.search-button:hover{
  border-color: #c6c6c6;
    background-color: #f0f0f0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.1);

}

.keyboard-voice{
  margin-left:20px;
 border-radius: 50%;
 width: 40px;
 height: 40px;
 background-color: #f5f4f4; 
 display: flex;
 justify-content: center;
 align-items: center;
}
.keyboard-voice:hover{
  border-color: #c6c6c6;
    background-color: #f0f0f0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.1);

}

/* Sidebar.css */
.sidebar {
  position: fixed;
  top: 0;
  left: -160px;
  width: 230px;
  height: 100%;
  background-color: white;
  
    transition: left 0.3s ease;
}

.sidebar.open {
  left: 0;
  /* overflow-y:auto;
  white-space: nowrap; Prevent text from wrapping */
}
.open:hover{
  left: 0;
  overflow-y:auto;
  white-space: nowrap; /* Prevent text from wrapping */
}

/* .close-button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
} */

.main-content {
  padding-top: 7%;
  margin-left: 5%;
  transition: margin-left 0.3s ease;
  overflow-x: hidden;
}

.main-content.pushed {
  margin-left: 250px;
}

.toggle-button-container{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  width:4.5vh;
  height: 4.5vh;
  border: none !important;  
  position: fixed;
  left: 1.3%;
  top:1.9%;
  z-index: 999;
  cursor: pointer;
  border: none !important;
  background-color: #f5f4f4; 
  border-radius: 100%;  
}
.toggle-button-container:hover{
  border-radius: 100%;
  border-color: #c6c6c6;
  background-color: #d0cfcf !important;
  box-shadow: 0 1px 0 rgba(0,0,0,0.1);
}

#sidebar{  
  
  width: 2.5vh;
  font-style: bold;
  background-color: rgb(39, 39, 39);
  margin-bottom: 0.8vh;
  padding: 0.01vh;
  height:0.001vh;
  
}

#videoCaption{
  white-space: nowrap;
  width: 320px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  /* Set a maximum width to prevent the title from pushing other content */
}
.sidebar-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10.1%;
  cursor: pointer;
  left: 181px;
}
.sidebar-content span{
  margin-bottom: 20px;
}
@media (max-width: 768px) {
/*   header{
    display: none;
  }
 */
 .keyboard-voice{
  display: none;
 }
 .search-input{
  position: absolute;
  left:5vw;
  /* width:70px; */
 }
 .search-button{
  position: relative;
  left: 13.523956723338486vw;
 }
  iframe{
    width: 100%;
    object-fit: cover;
    border-radius: none !important;
  }
  .main-content{
    margin-left: 0;
  }
  .container-fluid{
    padding-top: 2vh;
    object-fit: cover;
    width: 100%;
  }
  .toggle-button-container{
    display: none;
  }
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  .sidebar{
    display: none;
  }
}
@media (min-width:768px) and (max-width:1448px) {
  iframe{
    width: 100%;
  }
}
